<div class="jumbotron text-center">
    <div id="displayClock"></div>
    {{#if userRequest}}
    <h1 class="display-3">Welcome, {{userRequest.firstName}}</h1>
    {{else}}
    <h1 class="display-3">Welcome</h1>
    <p class="lead">A web app with some useful tools</p>
    <p class="lead">Sign in to access more functions</p>
    <a class="btn btn-primary btn-social btn-google" href="/auth/google">
        <span class="fa fa-google"></span> SIGN IN WITH GOOGLE
    </a>
    {{/if}}
</div>

<form action="/" method="POST">
    <p hidden id="latitude" name="lat" value=""></p>
    <p hidden id="longitude" name="lon" value=""></p>
</form>

<div class="jumbotron text-center">
    {{#if weatherData}}
    <h3 class="display-5">Weather</h3>
    <p class="lead">Time Zone: {{weatherData.timezone}}</p>
    <p class="lead">Current: {{weatherData.temperature}} °C</p>
    <p class="lead">Feels like: {{weatherData.apparentTemperature}} °C</p>
    <p class="lead">Condition: {{weatherData.summary}}</p>
    {{/if}}
</div>

<div class="jumbotron">
    <h3 class="display-5">Unit Covertion</h3>
</div>